<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Felixpat.chetu.DataStructures">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:name=".MyApplication"
        >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Notes_Activity"
            android:label="Content"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".QuestionBankActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Question Bank"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ProgrammsActivity"
            android:label="Programms"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".DataActivity"
            android:label="Content"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".GateActivity"
            android:label="Gate Questions "
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".code"
            android:label="Code"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".About"
            android:label="About Us"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".Quiz"
            android:label="Quiz"
            android:screenOrientation="locked"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat" />


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6482920147054571~5952758666"/>
    </application>


</manifest>